#sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-mi__perfil {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-around;
    height: 40vh;
    margin-top: 12px;
}

.perfil__border {
    background: var(--degradado-gold);
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 100%;
}

.perfil__photo {
    height: 95%;
    border-radius: 100%;
}

.sobre-mi__content {
    text-align: center;
}

.sm-content__title-2-container {
    display: inline-block;
    border-bottom: .5em solid var(--black);
}

.perfil__title-1 {
    color: white;
    margin-right: 1rem;
}

.sm-content__title-2 {
    color: var(--primary-color);
}

.sobre-mi__email-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.sobre-mi__email {
    margin-top: 8px;
    color: white;
}

.sobre-mi__desc {
    color: var(--third-color);
    text-align: justify;
    margin-top: 24px;
}