.sobre-mi__perfil-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
}

.perfil-back__background {
    position: relative;
    width: 55vw;
    height: 90%;
    background-color: var(--secondary-color);
    clip-path: ellipse(49% 94% at 50% 5%);
}

.perfil-back__decoration-line {
    position: absolute;
    width: 500px;
    height: 100px;
    /* width: 35vw;
    height: 13vw; */
    /* margin-top: 5vw; */
    background: var(--degradado-gold);
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-back__decoration-back {
    /* width: 34vw;
    height: 12vw; */
    width: 490px;
    height: 90px;
    background-color: var(--secondary-color);
}

.perfil-back__photo {
    position: absolute;
    background-color: var(--aux-grey);
    border-radius: 80%;
}

.sobre-mi__content {
    text-align: center;
    margin: 16px auto;
}

.sm-content__title {
    display: inline-block;
    border-bottom: 4px solid var(--black);
}

.sm-content__title-1 {
    text-align: start;
    color: white;
}

.sm-content__title-2 {
    color: var(--primary-color);
}

.sobre-mi__email {
    margin-top: 8px;
    color: white;
}

.sobre-mi__desc {
    color: var(--third-color);
    text-align: justify;
    margin-top: 24px;
}