* {
    font-family: 'Lato', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #232323;
}

:root {
    /*Colors*/
    --background-color: #232323;
    --primary-color: #F27254;
    --secondary-color: #FAA87F;
    --third-color: #FDD8B2;
    --degradado-gold: linear-gradient(90deg, rgba(249,237,85,1) 6%, rgba(223,170,64,1) 40%, rgba(236,178,61,1) 76%, rgba(210,155,72,1) 100%);
    --degradado-pink: linear-gradient(90deg, rgba(242,114,84,1) 0%, rgba(255,158,135,1) 50%, rgba(242,114,84,1) 100%);
    --aux-gold: #e5ad3c;
    --aux-grey: #323232;
    --soft-grey: #D6D6D6;
    --black: #070707;

    /*Fonts*/
    --lato: 'Lato'; 
}

h1 {
    font-weight: bold;
    font-size: calc(1rem + 5vw);
    text-transform: uppercase;
}

h2 {
    font-size: calc(1.3rem + 4vw);
}

/*H3 solo aplicable a títulos de secciones:*/
h3 {
    color: var(--primary-color);
    font-size: calc(1rem + 1vw);
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid var(--aux-gold);
}

h4 {
    font-size: calc(1.5rem + .4vw);
    line-height: 1.5em;
}

h5 {
    font-size: calc(1rem + 1vw);
    font-weight: bold;
    font-style: italic;
}

p {
    font-size: 1.6rem;
}

section {
    margin-top: 0;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-bottom: 5rem;
}

.barra-nav {
    border-bottom: 3px solid var(--primary-color);
    border-top: 3px solid var(--primary-color);
    background-color: transparent;
    backdrop-filter: blur(40px);
}

.nav-item {
    font-size: 1.6rem;
}

.nav-link {
    color: var(--soft-grey);
    font-weight: bold;
}
.nav-link:hover {
    color: var(--third-color);
}

.nav-link:focus, .nav-link:active, .active {
    background: var(--degradado-gold);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /*Compatibilidad:*/
    background-clip: none;
    color: var(--aux-gold);
}

.cv {
    color: var(--secondary-color);
}
.cv:hover, .cv:focus {
    color: var(--primary-color);
    font-weight: bold;
}

.btn-copy {
    background-color: transparent;
    border-color: transparent;
}
.btn-copy:hover {
    transform: scale(1.15);
}
.img-copy {
    width: 80%;
    height: auto;
    padding-left: 1rem;
}

/*Responsives genéricos:*/
@media (max-width: 480px) { 
    section {
        margin-right: 4vw;
        margin-left: 4vw;
    }
}