* {
    font-family: 'Lato', 'Roboto', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #232323;
}

:root {
    /*Colors*/
    --background-color: #232323;
    --primary-color: #F27254;
    --secondary-color: #FAA87F;
    --third-color: #FDD8B2;
    --degradado-gold: linear-gradient(90deg, rgba(249,237,85,1) 6%, rgba(223,170,64,1) 40%, rgba(236,178,61,1) 76%, rgba(210,155,72,1) 100%);
    --degradado-pink: linear-gradient(90deg, rgba(242,114,84,1) 0%, rgba(255,158,135,1) 50%, rgba(242,114,84,1) 100%);
    --auxiliary-grey: #323232;
    --soft-grey: #D6D6D6;
    --black: #070707;

    /*Fonts*/
    --lato: 'Lato'; 
}

h1 {
    font-weight: bold;
    font-size: 5.6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 4.5rem;
}

.barra-nav {
    border-bottom: 3px solid var(--primary-color);
    background-color: transparent;
    backdrop-filter: blur(40px);
    /* position: sticky;
    top: 0; */
}

.nav-item {
    font-size: 1.6rem;
}

.nav-link {
    color: var(--soft-grey)
}
.nav-link:hover {
    color: var(--third-color);
}

.nav-link:focus {
    color: rgba(236, 178, 61, 1);
}

.cv {
    color: var(--secondary-color);
}
.cv:hover, .cv:focus {
    color: var(--primary-color);
    font-weight: bold;
}