.welcome {
    color: white;
    height: 100vh;
    margin-bottom: 0;
    position: relative;
}

.welcome__content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    outline: none;
    text-decoration: none;
    color: white;
}

.welcome__btn-ingresar {
    font-size: 1.8rem;
    font-style: italic;
    padding: 1px 9px;
    opacity: 55%;
    border: 2px solid var(--primary-color);
    margin: 12px;
    width: fit-content;
}

.welcome__btn-ingresar:hover {
    opacity: 80%;
    color: white;
}

.welcome__tittle-btnE-container {
    margin-top: 2vw;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.welcome__portfolio-h2 {
    color: var(--primary-color)
}

.welcome__btn-explora {
    display: flex;
    align-items: flex-end;
}

.btn-explora {
    border: 2px solid white;
    box-shadow: 0 0 5px white;
    padding: .8rem 2.4rem;
    font-size: calc(2rem + .4vw);
    font-weight: bold;
}

.btn-explora:hover {
    color: white;
    box-shadow: 0 0 8px white;
    font-weight: bold;
    transform: scale(1.01);
}

.btn-explora__pulse {
    background-color: var(--aux-gold);
    opacity: 80%;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    height: 14px;
    width: 14px;
    margin: -8px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(236, 178, 61, 0.7);
    }
    
    70% {
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.welcome__title-decoration {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.welcome__web-development {
    opacity: 45%;
    font-size: 13rem;
    line-height: 12rem;
    font-weight: bold;
    text-transform: uppercase;
}

.welcome__scroll-down {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.welcome__scroll-link {
    cursor: pointer;
    width: 36px;
}
.welcome__scroll-link:hover {
    transform: scale(1.05);
}

.welcome__line-decorations {
    display: flex;
    justify-content: space-between;
}

.line-decoration {
    background: linear-gradient(0deg, rgba(249,237,85,1) 6%, rgba(223,170,64,1) 40%, rgba(236,178,61,1) 76%, rgba(210,155,72,1) 100%);
    width: 3px;
    opacity: 25%;
}
.line-decoration:nth-child(1){
    height: 100vh;
}
.line-decoration:nth-child(2){
    height: 75vh;
}
.line-decoration:nth-child(3){
    height: 87vh;
}
.line-decoration:nth-child(4){
    height: 73vh;
}
.line-decoration:nth-child(5){
    height: 60vh;
}
.line-decoration:nth-child(6){
    height: 91vh;
}


@media (min-width: 1024px) { 
    .welcome__web-development {
        font-size: calc(.5rem + 9vw);
    }
} 

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .welcome__title-decoration {
        justify-content: center;
    }

    .welcome__web-development {
        font-size: 10rem;
        line-height: 9.5rem;
    }

    .welcome__web-development:nth-child(2) {
        margin-bottom: 52px;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .welcome__web-development {
        font-size: 6.2rem;
        line-height: 8rem;
    }

    .welcome__web-development:nth-child(2) {
        margin-bottom: 52px;
    }
    .line-decoration:last-child {
        display: none;
    }
}

@media (max-width: 480px) { 
    .welcome__content {
        justify-content: flex-start;
    }

    .welcome__tittle-btnE-container {
        width: 100%;
    }

    .welcome__titles {
        margin: 15% 5%;
    }

    .welcome__bienvenido-h1, .welcome__portfolio-h2{
        display: flex;
        flex-direction: column;
        font-size: calc(3rem + 1vw);
    }
    .welcome__bienvenido-h1 span:nth-child(2), .welcome__portfolio-h2 span:nth-child(2) {
        padding-left: calc(2.8rem + 1vw);
    }

    .welcome__btn-explora {
        justify-content: center;
    }

    .welcome__title-decoration {
        display: none;
    }

    .line-decoration:last-child, .line-decoration:nth-last-child(2) {
        display: none;
    }
}