.welcome {
    color: white;
    height: 100vh;
    margin: 0 40px 0px 40px;
    position: relative;
}

.welcome__content {
    position: absolute;
    margin-top: 16px;
}

a {
    outline: none;
    text-decoration: none;
    color: white;
}

.welcome__btn-ingresar {
    font-size: 1.7rem;
    font-style: italic;
    padding: 1px 9px;
    opacity: 55%;
    border: 2px solid var(--primary-color);
}
.welcome__btn-ingresar:hover, .btn-explora:hover {
    opacity: 80%;
    color: white;
}

.welcome__portfolio-h2 {
    color: var(--primary-color)
}

.btn-explora {
    border: 2px solid white;
    box-shadow: 0 0 5px white;
    padding: 8px 24px;    
    font-size: 1.8rem;
    font-weight: bold;
}

.btn-explora__pulse {
    background-color: rgba(236, 178, 61, 1);
    opacity: 80%;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    height: 14px;
    width: 14px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(236, 178, 61, 0.7);
    }
    
    70% {
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.welcome__web-development {
    opacity: 50%;
    font-size: 14rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 150px;
}

.welcome__scroll-down {
    cursor: pointer;
    width: 36px;
}
.welcome__scroll-down:hover {
    transform: scale(1.05);
}

.welcome__line-decorations {
    display: flex;
    justify-content: space-between;
}

.line-decoration {
    background: linear-gradient(0deg, rgba(249,237,85,1) 6%, rgba(223,170,64,1) 40%, rgba(236,178,61,1) 76%, rgba(210,155,72,1) 100%);
    width: 3px;
    opacity: 25%;
}
.line-decoration:nth-child(1){
    height: 100vh;
}
.line-decoration:nth-child(2){
    height: 75vh;
}
.line-decoration:nth-child(3){
    height: 87vh;
}
.line-decoration:nth-child(4){
    height: 73vh;
}
.line-decoration:nth-child(5){
    height: 60vh;
}
.line-decoration:nth-child(6){
    height: 91vh;
}